*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 100px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg{
    background: url('./bg.jpg')  center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
}
.row-form{
    display: flex;
    height: 100vh;
}
.container {
    width: 200px;
    height: max-content;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
	color        : #000;
    padding: 20px 15px;
    margin-top: 120px;
    border-radius: 7px;
    font-family: sans-serif;
    box-shadow: 10px 11px rgba(0, 0, 0, 0.4);
}

h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}
.login-form {
    padding: 5px;
}

.form-field {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
}

.form-error {
    display: block;
    color: rgb(237, 67, 55);
    font-size: 0.9em;
    font-weight: 600;
}

button {
    width: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
